html, body {
  margin: 0;
  font-family: "Alice", serif;
}

html {
  overflow-y: scroll;
}

.plyr {
  min-width: 0 !important;
}

/* 
html {
  scrollbar-width: none;
}
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 6px;
} */

/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */

:root {
  --theme-box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.3);
  --mdc-theme-background: #eee;
}